body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.header {
    background-color:steelblue;
    text-align: center;
    font-weight: bold;
    padding: 40px;
    margin: 30px;
}

ul {
    display: inline-block;
}