body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.header {
    background-color:steelblue;
    text-align: center;
    font-weight: bold;
    padding: 40px;
    margin: 40px;
}


.ul-container {
    display: flex;
}

.ul-container div {

    flex: 1;
}